# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias de Node
/node_modules
/.pnp
.pnp.js

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor e IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Directorios de construcción
/dist
/build
/coverage

# Archivos de caché
.cache
.temp

# Configuraciones específicas de Vue
/src/serviceWorker.js

# Archivos de configuración local
*.local

# Archivos de pruebas
/cypress/videos/
/cypress/screenshots/

# Storybook
/storybook-static

# Paquetes de producción
*.tgz

# Configuración de Vite (si usas Vite)
.vite

# Configuración de ESLint
.eslintcache

# Configuración de Prettier
.prettierrc

# Configuración de Jest
/jest-report